body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.dashboard-section {
    width: 300px;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    background-color: white;
}

.dashboard-section:hover {
    transform: scale(1.05);
}

.dashboardSection {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    background-color: white;
}

#createProjectBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#createProjectBtn:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

ul li:last-child {
    border-bottom: none;
}

ul li:hover {
    background-color: #e0f7fa;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 200%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
#imagePreviewContainer {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
}

#imagePreview {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border: 1px solid #ddd;
}
/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.icon {
    position: fixed;
    top: 112px;
    right: 20px;
    cursor: pointer;
    z-index: 1001;
    z-index: 1001;
    transition: opacity 0.3s;
}
.icon img {
    width: 30px; /* Adjust the size as needed */
    height: auto;
}

#accessibilityWindow {
    display: none;
    position: fixed;
    top: 140px;
    right: 20px;
    width: 250px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: grab;
    overflow: hidden;

}


#accessibilityWindow:active {
    cursor: grabbing;
}


#resetBtn,
#languageOptions {
    margin-top: 10px;
}

#languageOptions button {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#languageOptions button:hover {
    background-color: #45a049;
}

#searchInput {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.switch {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all .3s ease;
  }
  
  .switch:checked {
    background-color: rgba(77, 175, 80, 1);
  }
  
  .switch::before {
    position: absolute;
    content: "";
    left: calc(1.5rem - 1.6rem);
    top: calc(1.5rem - 1.6rem);
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: all .3s ease;
  }
  
  .switch:hover::before {
    box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
  }
  
  .switch:checked:hover::before {
    box-shadow: 0 0 0px 8px rgba(77, 175, 80, .15)
  }
  
  .switch:checked:before {
    transform: translateX(100%);
    border-color: rgba(77, 175, 80, 1);
  }