body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.dashboard-section {
    width: 300px;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    background-color: white;
}

.dashboard-section:hover {
    transform: scale(1.05);
}

.dashboardSection {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    background-color: white;
}

#createProjectBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#createProjectBtn:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

ul li:last-child {
    border-bottom: none;
}

ul li:hover {
    background-color: #e0f7fa;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 200%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
#imagePreviewContainer {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
}

#imagePreview {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border: 1px solid #ddd;
}